<h1 class="bg-blue-400">Cadastro de Livros</h1>
<form action="/books/insertbooks" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="pagesqty">Páginas:</label>
        <input type="number" name="pagesqty" placeholder="Quantas páginas tem o livro?">
    </div>
    <input type="submit" value="Cadastrar" />
</form>